

.flex-box{
display: flex;
}

img{
  padding: 10px;
  background-color: rgb(228, 228, 220);

}

h1{
   color: rgb(140, 168, 192);
    margin-left: 300px;
}

dl{
   
 padding: 10px;
}

dt{
 background-color: rgb(228, 228, 220);
text-align: center;
margin-top: 50px;
padding: 10px;
font-size: large;
font-weight: bold;

}

dd{
    margin-top: 30px;
    text-align: center;

}